<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  {{> lovedChamps}}
  {{> hatedChamps}}
  {{!--* depending on the value of the listExists variable --}}
  {{!--* if it’s true then the list will be rendered --}}
  {{!--* if the value is equal to false the list will not be rendered --}}
  {{#if listExists}} 
    <ul class="list-group">
      {{#each suggestedChamps}}
        <li class="list-group-item list-group-item-action">{{this.name}}</li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>