<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<title>{{title}}</title>

<link
	rel='stylesheet'
	href='../../public/css/minimal-df91f5924456ce025b7ab1160b39bebf78e7039ff237c4629.css'
	media='all'
	id='main-minimal-stylesheet'
/>
<link
	rel='stylesheet'
	href='../../public/css/views-c6fba8c6f1dfa117140140a6bf9537aa0257eefa834cc3d29ba.css'
	media='all'
	id='main-views-stylesheet'
/>
<link rel='stylesheet' href='../../public/css/crayons.min.css' media='all' id='main-crayons-stylesheet' />